* {
  outline: 1px solid red;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.board {
  width: 80vmin;
  height: 80vmin;
}
.board-row {
  width: 100%;
  height: 12.5%;
}
.board-row-tile {
  outline: 1.5px solid black;
  width: 12.5%;
  height: 100%;
  display: block; /* get rid of white space under div containing img */
  /* font-size: 0px; /* get rid of white space under div containing img */
  float: left; /* prevent horizontal stacking of tiles in same row */
}
.board-row-tile-img {
  width: 100%;
  height: 100%; 
}

.board-annotations {
  width: 80vmin; /* Always overlays .board */
  height: 80vmin;
  position: absolute;
  pointer-events: none; /* Allow player to click board where SVG are overlayed */
}
.svg-container {
  overflow: visible; /* Prevent SVG from being cut part way */
  pointer-events: none; /* Allow player to click board where SVG are overlayed */
}
.svg-drawing {
  pointer-events: none; /* Allow player to click board where SVG are overlayed */
}

.pawn-promotion {
  width: 12.5%;
  height: 50%; 
  position: absolute;
  background: lightgrey;
  display: block; /* get rid of space under img */
  font-size: 0px; /* get rid of space under img */
  border-radius: 12px;
  border: 3px solid dodgerblue;
}
.pawn-promotion-img {
  width: 100%;
  height: 25%;
  pointer-events: all; /* should be the only clickable thing in layer above board */
}
.pawn-promotion-img:hover {
  background: dodgerblue;
}

.captures {
  display: flex;
  align-items: center;
  width: 80vmin;
  height: 8vmin;
}
.capture-img {
  width: 6.25%;
}

.game-description {
  width: 50vmin;
}
.move-history {
  height: 80vmin;
  overflow:hidden; 
  overflow-y:scroll;
}